
<div class="body-blur">
  <div class="row columns">
    <h1>Post a Tutorial</h1>

    <form [formGroup]="postForm" (ngSubmit)="addPost(postForm.value)">
      <div class="row">
        <div class="columns small-12 medium-6">
          <label>Title of Tutorial
            <input type="text" name="title" [formControl]="postForm.controls['title']">
          </label>
        </div>
        <div class="columns small-12 medium-6">
            <label>URL
              <input type="text" name="url" [formControl]="postForm.controls['url']">
            </label>
          </div>
        </div>
          <div class="row columns">
            <label>Description
              <textarea name="description" id="description" [formControl]="postForm.controls['description']"></textarea>
            </label>
            <input type="submit" class="cta-btn filled" value="Post Tutorial" [disabled]="!postForm.valid">
          </div>
      </form>
  </div>